#wrapper-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#title{
    font-size: large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#subtitle{
    font-size: medium;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#main-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.column-button {
    width: 18%;
    height: 50px
}

#show-translate-container {
    margin-top: 10px;
    display: flex;
}

#hide-translate-container {
    margin-top: 10px;
    display: none;
}


.btn-translate-wrapper {
    width: 50%;
}

.ul-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 2px solid black;
    width: 32%;
}

.ul-wrapper {
    display: flex;
    flex-direction: row;
    border-right: 2px solid black;
}

#ul-one {
    display: flex;
    flex-direction: column;

}

#ul-two {
    display: flex;
    flex-direction: column;
}

#ul-three {
    display: flex;
    flex-direction: column;
}

.button-main {
    color: blue;
    min-width: 100%;
    min-height: 100%;
    font-size: 13px;
    border-radius: 5px;
}

.btn-translate-btn {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}