body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.body-wrapper {
    height: auto;
    min-height: 100vh;

    width: 100vw;
    /* background-image: url("./Assets/nausicaa009.jpeg"); */
    /* background-image: url("./Assets/chihiro007.jpeg"); */
    /* background-image: url("./Assets/chihiro011.jpeg"); */
    /* background-image: url("./Assets/chihiro018.jpeg"); */
    background-image: url("./Assets/chihiro036.jpeg");
    /* background-image: url("./Assets/chihiro041.jpeg"); */
    /* background-image: url("./Assets/laputa039.jpeg"); */
    /* background-image: url("./Assets/nausicaa009.jpeg"); */
    /* background-image: url("./Assets/nausicaa010.jpeg"); */
    /* background-image: url("./Assets/nausicaa049.jpeg"); */
    /* background-image: url("./Assets/onyourmark001.jpeg"); */
    /* background-image: url("./Assets/onyourmark005.jpeg"); */
    /* background-image: url("./Assets/onyourmark021.jpeg"); */
    /* background-image: url("./Assets/onyourmark027.jpeg"); */
    /* background-image: url("./Assets/redturtle017.jpeg"); */
    /* background-image: url("./Assets/redturtle034.jpeg"); */
    /* background-image: url("./Assets/totoro029.jpeg"); */
    /* background-image: url("./Assets/totoro042.jpeg"); */


    background-color: blue;
}

.outer-wrapper{
    background-image: url("./Assets/chihiro007.jpeg");
background-color: bisque;
}

#wrapper-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(231, 217, 200);

}

#title{
    font-size: large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#subtitle{
    font-size: medium;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#main-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5px;
    /* border: 2px solid red; */
}

.column-button {
    width: 18%;
    height: 50px
}

#show-translate-container {
    margin-top: 10px;
    display: flex;
}

#hide-translate-container {
    margin-top: 10px;
    display: none;
}


.btn-translate-wrapper {
    width: 50%;
}

.ul-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 2px solid black;
    width: 32%;
    font-size: 24px;
    background-color: rgba(255, 250, 240, 0.651);
    /* color:floralwhite; */
    color: black;
}

.ul-wrapper {
    display: flex;
    flex-direction: row;
    border-right: 2px solid black;
}

#ul-one {
    display: flex;
    flex-direction: column;

}

#ul-two {
    display: flex;
    flex-direction: column;
}

#ul-three {
    display: flex;
    flex-direction: column;
}

.button-main {
    color:rgb(88, 4, 4);
    min-width: 100%;
    min-height: 100%;
    font-size: 13px;
    border-radius: 5px;
}

.btn-translate-btn {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}